<template>
  <div>
    <section v-for="(card, index) in parts" v-if="index > 1">
      <AxieCard :cardId="index" :axieId="axieId" :card="card" />
    </section>
  </div>
</template>

<script>
export default {
  name: 'AxieCards',
  props: ['axieId', 'parts'],
}
</script>

<style lang="scss" scoped>
div {
  width: 100%;
  display: flex;
}
</style>
