<template>
  <div class="axie-card">
    <section class="axie-details">
      <p @click="openInput" v-if="!open">#{{ id }}</p>
      <div v-else>
        <input v-model="id" />
        <button @click="newAxie(id)">save</button>
        <button @click="cancel">cancel</button>
      </div>
      <img :src="axie.image" />
      <AxieStats
        :hp="axie.stats.hp"
        :morale="axie.stats.morale"
        :speed="axie.stats.speed"
        :skill="axie.stats.skill"
      />
    </section>
    <AxieCards :axieId="id" :parts="parts" />
  </div>
</template>

<script>
import { QUERY } from '../queries/axie.graphql'

export default {
  name: 'Axie',
  data() {
    return {
      open: false,
      id: '',
      axie: {
        stats: { hp: 0, skill: 0, morale: 0, skill: 0 },
      },
      parts: [],
    }
  },
  mounted() {
    this.id = '1654654'
    this.newAxie(this.id)
  },
  methods: {
    openInput() {
      this.open = true
    },
    cancel() {
      this.open = false
    },
    newAxie(id) {
      this.open = false
      const url = 'https://graphql-gateway.axieinfinity.com/graphql'
      const data = {
        operation: 'GetAxieDetail',
        variables: {
          axieId: id,
        },
        query: QUERY,
      }
      const that = this
      console.log('id: ', this.id)
      fetch(url, {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
        .then(function (res) {
          return res.json()
        })
        .then(function (data) {
          that.axie = data.data.axie
          that.parts = data.data.axie.parts
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.axie-card {
  display: flex;
  width: 100%;
  .axie-details {
    width: 30%;
  }
}
img {
  width: 100%;
}
</style>
