<template>
  <div>
    <p>H: {{hp}} S: {{speed}} M: {{morale}} Skill: {{skill}}</p>

  </div>
</template>

<script>
  export default{
    name: 'AxieStats',
    props: ['hp', 'morale', 'speed', 'skill']
  }
</script>

<style scoped>

</style>

