<template>
  <div>
    <img :src="backgroundUrl" />
  </div>
</template>

<script>
export default {
  name: 'AxieCard',
  props: ['card'],

  data() {
    return {
      ability: {},
    }
  },
  computed: {
    backgroundUrl() {
      this.ability = this.card.data.abilities[0]
      return this.ability.backgroundUrl
    },
  },
  created() {
    this.ability = this.card.data.abilities[0]
  },
}
</script>

<style lang="scss" scoped>
div {
  position: relative;
  font-size: 1rem;

  .energy,
  .description,
  .attack,
  .defense,
  .name {
    position: absolute;
    color: white;
    font-size: 0.8em;
  }

  .energy {
    top: 0;
    margin: 0;
    left: 0.5em;
    font-weight: 800;
    font-size: 2em;
  }
  .name {
    width: 100%;
    left: 0.5em;
    margin: 1em;
    text-align: center;
  }
  .attack {
    top: 30%;
    font-size: 1.5em;
    padding: 0.1em;
    background-color: #BB3651;
    border-radius: 50%;
  }
  .defense {
    top: 45%;
    font-size: 1.5em;
    padding: 0.1em;
    background-color: #319B6A;
    border-radius: 50%;

  }
  .description {
    margin: 0 1em;
    bottom: 1em;
  }
}
img {
  width: 100%;
}
</style>
