<template>
  <div @click="playCard">
    <img :src="backgroundUrl" :class="{
    sepia: copies() === 1,
    greyscale: copies() === 2,
    }" >
    <p class="energy">{{ ability.energy }}</p>
    <p class="name">{{ card.name }}</p>
    <p class="description">{{ ability.description }}</p>
    <p class="attack">{{ ability.attack }}</p>
    <p class="defense">{{ ability.defense }}</p>
    <p class="copies">
    prob({{probabilyties().toFixed(2)}})
    </p>
  </div>
</template>

<script>
export default {
  name: 'AxieCard',
  props: ['axieId', 'cardId', 'card'],

  data() {
    return {
      ability: {},
    }
  },
  methods: {
    copies() {
      return this.$parent.$parent.$parent.copies(this.axieId, this.cardId)
    },
    probabilyties(){
      return this.$parent.$parent.$parent.probabilyties(this.axieId, this.cardId)
    },
    playCard() {
      this.$parent.$parent.$parent.playCard({
        axieId: this.axieId,
        cardId: this.cardId,
        data: this.card,
      })
    },
  },
  computed: {
    backgroundUrl() {
      this.ability = this.card.abilities[0]
      return this.ability.backgroundUrl
    },
  },
  created() {
    this.ability = this.card.abilities[0]
  },
}
</script>

<style lang="scss" scoped>
div {
  position: relative;
  font-size: 1rem;

  .energy,
  .description,
  .attack,
  .defense,
  .copies,
  .name {
    position: absolute;
    color: white;
    font-size: 0.8em;
  }

  .copies {
    bottom: -2em;
    color: black;
  }
  .energy {
    top: 0;
    margin: 0;
    left: 0.5em;
    font-weight: 800;
    font-size: 2em;
  }
  .name {
    width: 100%;
    left: 0.5em;
    margin: 1em;
    text-align: center;
  }
  .attack {
    top: 30%;
    font-size: 1.5em;
    padding: 0.1em;
    background-color: #bb3651;
    border-radius: 50%;
  }
  .defense {
    top: 45%;
    font-size: 1.5em;
    padding: 0.1em;
    background-color: #319b6a;
    border-radius: 50%;
  }
  .description {
    margin: 0 1em;
    bottom: 1em;
  }
}
img {
  width: 100%;
}
.greyscale {
  filter: grayscale(100%);
}
.sepia{
  filter: sepia(70%);
}
</style>
