<template>
  <div>
    <div class="action-buttons">
      <button @click="newGame">New Game</button>
    </div>
    <div class="board">
      <section class="axies">
        <Axie />
        <Axie />
        <Axie />
      </section>
      <section class="rounds">
        <Round
          :round="rounds.length"
          :energy="energyTotal()"
          :cards="handTotal()"
          :discarted="discarted"
        />

        <h2>Playing</h2>
        <section class="round-cards">
          <div>
            <button @click="addEnergy">+1 ENERGY</button>
            <div>{{ extraEnergy }}</div>
            <button @click="substractEnergy">-1 ENERGY</button>
          </div>
          <div>
            <button @click="drawCard">+1 CARD</button>
            <div>{{ extraHand }}</div>
            <button @click="discardCard">-1 CARD</button>
          </div>
          <div>
            <button @click="newRound">Next</button>
          </div>
          <AxieSmallCard
            :card="card"
            v-for="(card, index) in cards"
            :key="index"
          />
        </section>
        <button @click="reset">Reset</button>
        <h2>LOG</h2>
        <section v-for="(round, index) in rounds" :key="index">
          <section class="round-cards">
            <p><img class="energy-icon" src="/energy.png" />{{ round.energy }}</p>
            <p>
    <img class="cards-icon"src="/cards.png" />
            {{ round.hand }}</p>

            <AxieSmallCard
              :card="card"
              v-for="(card, i) in round.cards"
              :key="i"
            />
          </section>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Game',
  props: {
    axies: {
      type: Array,
    },
  },
  data() {
    return {
      extraEnergy: 0,
      extraHand: 0,
      rounds: [{ cards: [], energy: 3, hand: 6 }],
      cards: [],
      hand: 6,
      energy: 3,
      discarted: 0,
    }
  },
  methods: {
    newGame() {
      this.rounds = [{ cards: [], energy: 3, hand: 6 }]
      this.cards = []
      this.hand = 6
      this.energy = 3
      this.cards = []
      this.extraEnergy = 0
      this.extraHand = 0
      this.discarted = 0
    },
    probabilyties(axieId, cardId) {
      const copies = 2 - this.copies(axieId, cardId)
      const hand = this.handTotal()
      const deck = 24 - hand - this.discarted
      return (
        (copies * hand * this.fac(deck) * this.fac(deck + hand - copies)) /
        (this.fac(deck + hand) * this.fac(deck - copies + 1))
      )
    },
    fac(num) {
      if (num < 0) return -1
      else if (num == 0) return 1
      else {
        return num * this.fac(num - 1)
      }
    },
    copies(axieId, cardId) {
      return this.rounds
        .map((round) =>
          round.cards
            .map((card) =>
              card.axieId === axieId && card.cardId === cardId ? 1 : 0
            )
            .reduce((partial_sum, a) => partial_sum + a, 0)
        )
        .reduce((partial_sum, a) => partial_sum + a, 0)
    },
    newRound() {
      const round = {
        cards: this.cards,
        energy: 2 - this.cardCost() + this.extraEnergy,
        hand: 3 - this.cards.length + this.extraHand,
      }
      this.discarted += this.cards.length
      this.cards = []
      this.extraHand = 0
      this.extraEnergy = 0
      this.rounds.unshift(round)
    },
    reset() {
      this.cards = []
    },
    energyTotal() {
      return this.rounds
        .map((round) => round.energy)
        .reduce((partial_sum, a) => partial_sum + a, 0)
    },
    handTotal() {
      return this.rounds
        .map((round) => round.hand)
        .reduce((partial_sum, a) => partial_sum + a, 0)
    },
    cardCost() {
      return this.cards
        .map((card) => card.data.abilities[0].energy)
        .reduce((partial_sum, a) => partial_sum + a, 0)
    },
    addEnergy() {
      this.extraEnergy += 1
    },
    substractEnergy() {
      this.extraEnergy -= 1
    },
    drawCard() {
      this.extraHard += 1
    },
    discardCard() {
      this.extraHard -= 1
    },
    playCard(card) {
      this.cards.push(card)
    },
  },
}
</script>

<style lang="scss" scoped>
.board {
  display: flex;
}
.axies {
  width: 60%;
}
.rounds {
  width: 30%;
}
.round-cards {
  min-height: 100px;
  display: flex;
  div {
    width: 20%;
  }
}
.energy-icon {
  width: 20px;
}
.cards-icon {
  width: 20px;
}
</style>
