<template>
  <div>
    <input v-model="axie1" />
    <input v-model="axie2" />
    <input v-model="axie3" />
    <button>Comenzar</button>
  </div>
</template>

<script>
export default {
  name: 'GameSetup',
  data() {
    return {
      round: 0,
      energy: 3,
    }
  },
}
</script>

<style scoped></style>
