<template>
  <div>
    <p>ROUND #{{ round }}</p>
    <img src="/energy.png" />
    <p>{{ energy }} / 10</p>
    <p>Cards: {{ cards }}</p>
  </div>
</template>

<script>
export default {
  name: 'Round',
  props: ['round', 'energy', 'cards', 'discarted'],
}
</script>

<style lang="scss" scoped>
div {
  text-align: center;
  p {
    color: orange;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  img {
    width: 50px;
  }
}
</style>
